doctype html
head
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css' integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm' crossorigin='anonymous')
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(http-equiv='refresh' content='5')
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css' integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm' crossorigin='anonymous')
    title Prototype API Tools
    style.
        html {
            box-sizing: border-box;
        }
        *, *:before, *:after {
            box-sizing: inherit;
        }
        body {
            position: relative;
        }
body
    div
        .jumbotron(style='padding:40px;')
            h5 Acciones Prototipo
            h6 (Mostrando información del intent)
            a(href='/server/prototype/apitools/list') Volver a la lista
    .row-auto.p-6
        .col-auto.p-6
            if exists(intent.displayName) 
                button.btn.btn-lg.btn-primary(type='button' disabled='')= intent.displayName
            else
                button.btn.btn-lg.btn-danger(type='button' disabled='') Undefined
            br
            br
            h5 Project Path
            p
            ul.list-group
                if exists(intent.name) 
                    li.list-group-item= intent.name
                else
                    li.list-group-item(style='color:red; font-weight:bold; font-size:small') Undefined    
            br 
            br
            h5 Identificator
            p
            ul.list-group
                if exists(id) 
                    li.list-group-item= id
                else
                    li.list-group-item(style='color:red; font-weight:bold; font-size:small') Undefined     
            br
            br
            h5 Display Name
            p
            ul.list-group
                if exists(intent.displayName) 
                    li.list-group-item= intent.displayName
                else
                    li.list-group-item(style='color:red; font-weight:bold; font-size:small') Undefined    
            br
            br
            h5 Webhook State
            p
            ul.list-group
                if exists(intent.webhookState) 
                    li.list-group-item= intent.webhookState
                else
                    li.list-group-item(style='color:red; font-weight:bold; font-size:small') Undefined        
            br
            br
            h5 Priority 
            p
            ul.list-group
                if exists(intent.priority) 
                    li.list-group-item= intent.priority
                else
                    li.list-group-item(style='color:red; font-weight:bold; font-size:small') Undefined          
            br
            br
            h5 Is Fallback 
            p
            ul.list-group
                if exists(intent.isFallback) 
                    li.list-group-item= intent.isFallback
                else
                    li.list-group-item(style='color:red; font-weight:bold; font-size:small') Undefined     
            br
            br   
            h5 ML Disabled 
            p
            ul.list-group
                if exists(intent.mlDisabled) 
                    li.list-group-item= intent.mlDisabled
                else
                    li.list-group-item(style='color:red; font-weight:bold; font-size:small') Undefined     
            br
            br   
            h5 Live Agent Hand Off 
            p
            ul.list-group
                if exists(intent.liveAgentHandoff) 
                    li.list-group-item= intent.liveAgentHandoff
                else
                    li.list-group-item(style='color:red; font-weight:bold; font-size:small') Undefined     
            br
            br   
            h5 End Interaction
            p
            ul.list-group
                if exists(intent.endInteraction) 
                    li.list-group-item= intent.endInteraction
                else
                    li.list-group-item(style='color:red; font-weight:bold; font-size:small') Undefined     
            br
            br   
            h5 Input Context Names
            p
            ul.list-group
                if exists(intent.inputContextNames) 
                    table.table.table-bordered
                        thead.thead-light
                            tr
                                th(scope='col') Name  
                        each context in intent.inputContextNames 
                            tbody   
                                tr
                                    if exists(context)  
                                        td= context
                                    else
                                        td(style='color:red; font-weight:bold; font-size:small') Undefined
                else
                    li.list-group-item(style='color:red; font-weight:bold; font-size:small') Undefined
            br
            br   
            h5 Events
            p
            ul.list-group
                if exists(intent.events) 
                    table.table.table-bordered
                        thead.thead-light
                            tr
                                th(scope='col') Name  
                        each event in intent.events 
                            tbody   
                                tr
                                    if exists(event)  
                                        td= event
                                    else
                                        td(style='color:red; font-weight:bold; font-size:small') Undefined
                else
                    li.list-group-item(style='color:red; font-weight:bold; font-size:small') Undefined
            br
            br   
            h5 Training Phrases
            p
            ul.list-group
                if exists(intent.trainingPhrases)      
                    table.table.table-bordered
                        thead.thead-light
                            tr
                                th(scope='col') Name
                                th(scope='col') Type
                                th(scope='col') Parts
                                th(scope='col') TimesAddedCount
                        each trainingphrase in intent.trainingPhrases
                            tbody
                                tr
                                    if exists(trainingphrase.name)  
                                        td= trainingphrase.name
                                    else
                                        td(style='color:red; font-weight:bold; font-size:small') Undefined
                                    if exists(trainingphrase.type)  
                                        td= trainingphrase.type
                                    else
                                        td(style='color:red; font-weight:bold; font-size:small') Undefined
                                    if exists(trainingphrase.parts)  
                                        td
                                            table.table.table-bordered
                                                thead
                                                    tr                                  
                                                        th(scope='col') Text
                                                        th(scope='col') EntityType
                                                        th(scope='col') Alias
                                                        th(scope='col') UserDefined
                                                each part in trainingphrase.parts
                                                    tbody
                                                        tr
                                                            if exists(part.text)
                                                                td= part.text
                                                            else
                                                                td(style='color:red; font-weight:bold; font-size:small') Undefined
                                                            if exists(part.entityType)
                                                                td= part.entityType
                                                            else
                                                                td(style='color:red; font-weight:bold; font-size:small') Undefined
                                                            if exists(part.alias)
                                                                td= part.alias
                                                            else
                                                                td(style='color:red; font-weight:bold; font-size:small') Undefined
                                                            if exists(part.userDefined)
                                                                td= part.userDefined
                                                            else
                                                                td(style='color:red; font-weight:bold; font-size:small') Undefined
                                    else
                                        td(style='color:red; font-weight:bold; font-size:small') Undefined
                                    if exists(trainingphrase.timesAddedCount)                        
                                        td= trainingphrase.timesAddedCount
                                    else
                                        td(style='color:red; font-weight:bold; font-size:small') Undefined
                else
                    li.list-group-item(style='color:red; font-weight:bold; font-size:small') Undefined
            br
            br   
            h5 Action
            p
            ul.list-group
                if exists(intent.action) 
                    li.list-group-item= intent.action
                else
                    li.list-group-item(style='color:red; font-weight:bold; font-size:small') Undefined   
            br
            br   
            h5 Output Contexts
            p
            ul.list-group
                if exists(intent.outputContexts) 
                    table.table.table-bordered
                        thead.thead-light
                            tr
                                th(scope='col') Name
                                th(scope='col') LifeSpan Count  
                                th(scope='col') Parameters    
                        each context in intent.outputContexts 
                            tbody   
                                tr
                                    if exists(context.name)  
                                        td= context.name
                                    else
                                        td(style='color:red; font-weight:bold; font-size:small') Undefined
                                    if exists(context.lifespanCount)  
                                        td= context.lifespanCount
                                    else
                                        td(style='color:red; font-weight:bold; font-size:small') Undefined
                                    if exists(context.parameters)  
                                        td
                                            table.table.table-bordered
                                                thead
                                                    tr                                  
                                                        th(scope='col') Key
                                                        th(scope='col') Value 
                                                each parameter in context.parameters
                                                    tbody
                                                        tr
                                                            if exists(parameter.key)
                                                                td= parameter.key
                                                            else
                                                                td(style='color:red; font-weight:bold; font-size:small') Undefined
                                                            if exists(parameter.value)
                                                                td= parameter.value
                                                            else
                                                                td(style='color:red; font-weight:bold; font-size:small') Undefined
                                    else
                                        td(style='color:red; font-weight:bold; font-size:small') Undefined
                else
                    li.list-group-item(style='color:red; font-weight:bold; font-size:small') Undefined
            br
            br   
            h5 Reset Contexts
            p
            ul.list-group
                if exists(intent.resetContexts) 
                    li.list-group-item= intent.resetContexts
                else
                    li.list-group-item(style='color:red; font-weight:bold; font-size:small') Undefined  
            br
            br   
            h5 Parameters
            p
            ul.list-group
                if exists(intent.parameters) 
                    table.table.table-bordered
                        thead.thead-light
                            tr
                                th(scope='col') Name
                                th(scope='col') Display Name
                                th(scope='col') Value
                                th(scope='col') Default Value
                                th(scope='col') Entity Type Display Name
                                th(scope='col') Mandatory 
                                th(scope='col') Prompts
                                th(scope='col') Is List        
                        each parameter in intent.parameters
                            tbody   
                                tr
                                    if exists(parameter.name)  
                                        td= parameter.name
                                    else
                                        td(style='color:red; font-weight:bold; font-size:small') Undefined
                                    if exists(parameter.displayName)  
                                        td= parameter.displayName
                                    else
                                        td(style='color:red; font-weight:bold; font-size:small') Undefined
                                    if exists(parameter.value)  
                                        td= parameter.value
                                    else
                                        td(style='color:red; font-weight:bold; font-size:small') Undefined
                                    if exists(parameter.defaultValue)  
                                        td= parameter.defaultValue
                                    else
                                        td(style='color:red; font-weight:bold; font-size:small') Undefined
                                    if exists(parameter.entityTypeDisplayName)  
                                        td= parameter.entityTypeDisplayName
                                    else
                                        td(style='color:red; font-weight:bold; font-size:small') Undefined
                                    if exists(parameter.mandatory)  
                                        td= parameter.mandatory
                                    else
                                        td(style='color:red; font-weight:bold; font-size:small') Undefined
                                    if exists(parameter.prompts) 
                                        td
                                            table.table.table-bordered
                                                thead.thead-light
                                                    tr
                                                        th(scope='col') Text  
                                                each prompt in parameter.prompts 
                                                    tbody   
                                                        tr
                                                            if exists(prompt)  
                                                                td= prompt
                                                            else
                                                                td(style='color:red; font-weight:bold; font-size:small') Undefined
                                    else
                                        td(style='color:red; font-weight:bold; font-size:small') Undefined
                                    if exists(parameter.isList)  
                                        td= parameter.isList
                                    else
                                        td(style='color:red; font-weight:bold; font-size:small') Undefined
                else
                    li.list-group-item(style='color:red; font-weight:bold; font-size:small') Undefined
            br
            br   
            h5 Messages
            p
            ul.list-group
                if exists(intent.messages) 
                    table.table.table-bordered
                        thead.thead-light
                            tr
                                th(scope='col') Platform
                                th(scope='col') Text        
                        each messages in intent.messages
                            tbody   
                                tr
                                    if exists(messages.platform)  
                                        td= messages.platform
                                    else
                                        td(style='color:red; font-weight:bold; font-size:small') Undefined
                                    if exists(messages.text)
                                        if exists(messages.text.text)    
                                            td
                                                table.table.table-bordered
                                                    thead.thead-light
                                                        tr
                                                            th(scope='col') Text  
                                                    each text in messages.text.text
                                                        tbody   
                                                            tr
                                                                if exists(text)  
                                                                    td= text
                                                                else
                                                                    td(style='color:red; font-weight:bold; font-size:small') Undefined
                                        else
                                            td(style='color:red; font-weight:bold; font-size:small') Undefined
                                    else
                                        td(style='color:red; font-weight:bold; font-size:small') Undefined
                else
                    li.list-group-item(style='color:red; font-weight:bold; font-size:small') Undefined                         
            br
            br   
            h5 Default Response Platforms
            p
            ul.list-group
                if exists(intent.defaultResponsePlatforms) 
                    li.list-group-item= intent.defaultResponsePlatforms
                else
                    li.list-group-item(style='color:red; font-weight:bold; font-size:small') Undefined 
            br
            br   
            h5 Root Followup Intent Name
            p
            ul.list-group
                if exists(intent.rootFollowupIntentName) 
                    li.list-group-item= intent.rootFollowupIntentName
                else
                    li.list-group-item(style='color:red; font-weight:bold; font-size:small') Undefined
            br
            br   
            h5 Parent Followup Intent Name
            p
            ul.list-group
                if exists(intent.parentFollowupIntentName) 
                    li.list-group-item= intent.parentFollowupIntentName
                else
                    li.list-group-item(style='color:red; font-weight:bold; font-size:small') Undefined
            br
            br   
            h5 Followup Intent Info
            p
            ul.list-group
                if exists(intent.followupIntentInfo) 
                    table.table.table-bordered
                        thead.thead-light
                            tr
                                th(scope='col') Followup Intent Name
                                th(scope='col') Parent Followup Intent Name 
                        each info in intent.followupIntentInfo
                            tbody   
                                tr
                                    if exists(info.followupIntentName)  
                                        td= info.followupIntentName
                                    else
                                        td(style='color:red; font-weight:bold; font-size:small') Undefined
                                    if exists(info.parentFollowupIntentName)  
                                        td= info.parentFollowupIntentName
                                    else
                                        td(style='color:red; font-weight:bold; font-size:small') Undefined
                else
                    li.list-group-item(style='color:red; font-weight:bold; font-size:small') Undefined                                      
  

                            

            
            
        
      

                
            

   
                     
                 
